* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: #ffe8c8a6;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #2f4920;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px rgb(185, 174, 135);
    margin: 0;
    padding: 0;
    line-height: 50px;
    
}

@media (max-width: 400px) {
    h1 {

        font-size: 50px;

        
    }
    
}

@media (min-width: 1880px) {
    h1 {

        font-size: 100px;
        line-height: initial;

        
    }
    
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: #2f4920;
    text-align: initial;
}

@media(max-width: 800px) {
    h2 {
        text-align: center;
    }
}

h3 {

}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    line-height: 40px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}


header {

    width: 100%;
    height: 100%;
    overflow: hidden;

}

header p {
    font-size: 16px;
}

@media (max-width: 800px) {
    header p {
        font-size: 12px;
        line-height: 10px;
    }

}

.header1-topBar {
    height: 100%;
    width: 100%;
}

.header1-content {
    height: 50px;
    width: 100%;
}

.header1-wrapper {
    display: flex;
    width: 100%;

}

@media (min-width: 1200px) {
    .header1-wrapper {
        
        padding: 0px 200px;
    }
    
}

.header1-wrapper div {
    flex: 0.33;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header1-content img {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

@media (max-width: 800px) {
    .header1-content img {

        margin: 0px;
    }


}

.redes-sociais img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 0px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .redes-sociais img {
        width: 25px;
        height: 25px;
        
        



    }


}

.redes-sociais img:hover {
    transform: scale(1.05)
}

.header2-navbar {
    width: 100%;
    height: 100%;
    background-color: #ffa52f;
    position: relative;
    z-index: 100;
}

nav {
    padding: 15px 20px;

    justify-content: space-around;
}

.nav-desktop {
    display: flex;
}

@media (max-width: 800px) {
    .nav-desktop {
        display: none;
    }

}

.nav-mobile {
    display: none;
    background-color: #ffa52f;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transition: background-color 1s ease;

}

@media (max-width: 800px) {
    .nav-mobile {
        display: flex;
    }

}

.header2-navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    color: #2f4920;

}

.header2-navbar a:hover {
    transform: scale(1.05);
    text-decoration: underline;

}

.header3-logo {

    width: 100%;
    height: 100%;

}

.header3-logo p {
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 800px) {
    .header3-logo p {
        font-size: 16px;
        line-height: 30px;
    }
    
}

.header3-logo-wrapper {
    width: 100%;
    position: relative;
}

.header3-hero-image {
    background-image: url('images/hero.jpg');




    background-color: #ffecc81f;
    background-position: center;
    width: 100%;
    height: 800px;
}

@keyframes sunlight-pulse {
    from {
      filter: brightness(0.5); /* Full brightness */
    }
    to {
      filter: brightness(1); /* Slightly increased brightness */
    }
  }

.header3-logo {
    display: flex;
    align-items: center;
}

.header3-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 15%;
    background-color: #ffe8c87a;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;

}



.header3-wrapper-blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 15%;
    background-color: #ffe8c800;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);

}

@media (min-width: 1024px) {
    .header3-wrapper, .header3-wrapper-blur {
        width: 50%;
        padding: 100px;
    }

}

.header3-wrapper * {
    margin-bottom: 50px;
}

button {
    width: 300px;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    color: #2f4920;
    background-color: #FFA62F;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media (max-width: 400px) {
    button {
        width: 100%;
    }
}

button:hover {
    transform: scale(1.05)
}

main {
    width: 100%;
}

.main1-apresentacao {
    width: 100%;
    padding: 0px;


}

@media (min-width: 1200px) {
    .main1-apresentacao {

        padding: 100px 200px;
    
    }

}

.main1-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffa52f09;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.116);
}

@media (min-width: 600px) {
    .main1-wrapper {
        padding: 100px;
    }

}

.main1-pictures-wrapper {
    display: flex;
    width: 100%;

}



.pictures-divs {
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffa52fce;
    background-blend-mode: multiply;
    margin: 0px 2px;
    border-radius: 5px;
}

.main1-profile-picture-div {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: -125px;
    margin-bottom: 50px;

}

.main1-profile-picture-div img {
    width: 250px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: #FFE8C8;
    padding: 5px;
}

.main1-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main1-text p {
    text-align: center;
}

.main1-text-h3-wrapper {
    display: flex;
}

.main1-h3 {
    padding: 0px 10px;
}

.middle-h3 {
    border-left: 1px solid;
    border-right: 1px solid;
}

.main2-servicos {
    width: 100%;
    padding: 0px;
}

@media (min-width: 1400px) {
    .main2-servicos {

        padding: 50px 200px;
    }

}

.main2-servicos p {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}

@media (max-width: 800px) {
    .main2-servicos p {
        text-align: center;

        
    }

}



@media (min-width: 1400px) {
    .main2-servicos p {
        font-size: 22px;
        line-height: 40px;
        
    }

}

.main2-wrapper {
    width: 100%;
    display: block;
    background-color: #ffa52f09;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.116);
}

@media (min-width: 1024px) {
    .main2-wrapper {
        padding: 100px;
        display: flex;
    }

}

.main2-img, .main2-txt {
    padding: 0px 50px;
}

.main2-img {
    /* width: 50%; */
    background-position: top;
    background-size: 80%;
    border-radius: 5px;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .main2-img {
        height: 300px;

    }

}

@media (min-width: 1024px) {
    .main2-img {
        width: 50%;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
    }

}
.main2-txt {
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 10px;

}

@media (max-width: 800px) {
    .main2-txt {
        text-align: center;
    
    }

}

@media (min-width: 1024px) {
    .main2-txt {
        width: 50%;
    
    }

}

.main3-reviews {
    width: 100%;
    padding: 0px;
}

@media (min-width: 1200px) {
    .main3-reviews {

        padding: 50px 200px;
    }

}

.main3-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffa52f09;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.116);
}

@media (min-width: 1200px) {
    .main3-wrapper {

        padding: 100px;

    }

}



.review-panel {
    width: 100%;
    padding: 50px;
    border-radius: 40px;
    background-color: #fcf3e6;

}

@media (max-width: 600px) {
    .review-panel {
        padding: 10px;

    
    }

}

@media (min-width: 1200px) {
    .review-panel {
        width: 700px;
        padding: 50px;
    
    }

}


.upper-panel {
    display: flex;
    width: 100%;
}

.main3-img-container {

    width: 40%;
}

.main3-img-container img {
    width: 100%;
    border-radius: 100%;
}

.upper-panel-text {
    width: 60%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.upper-panel-text * {
    margin-bottom: 10px;
}

h4 {
    color: #ffa52f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid;
    display: inline-block;
    margin: 0;

}

h5 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    

}

.lower-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.lower-panel img {
    width: 75px;
}

.estrelas {
    width: 100%;
}

.estrelas img {
    width: 10%;
}

footer {
    background-color: rgb(195, 197, 185);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-upper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer button {
    background-color: #ffffff;
    padding: 10px;
    width: 100px;
    color: black;
    border: 1px solid black;
    font-weight: 100;
    margin-bottom: 10px;
}



.hamb-lines {
width: 30px;
border: 1px solid black;
margin-bottom: 5px;
transform: translateY(0) rotate(0deg);
transition: transform 0.5s ease;
}

.hamb-menu-panel {
display: block;
position: absolute;
top: 50px;
right: -400px;
background-color: #ffa52f;
color: white;
font-size: 22px;
font-family: "Balthazar", serif;
transition: right 0.5s ease;
z-index: 11;

}

.hamb-transparent {
    background-color: #ffa52f85;
}

.hamb-menu-panel ul {
padding: 0;
margin: 0;
}

.li-wrapper {
border-bottom: 1px solid white;
padding: 20px;
}

.li-wrapper li {
list-style-type: none;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ffa52f85;
    transition: background-color 0.5s ease;
    
}

